/* style pour l'introduction au JS */

body{
    background-color:olive;
}

main{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color:peachpuff;
}

.stabilo{
    background-color:yellow;
}



.bouton{
    background-color: olivedrab;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

code{
    background-color: #fff;
    color: tomato;
    padding: 5px;
}
/* styles pour l'intro au JS */



.stabilo {
    background-color: rgb(250, 250, 62);
}

.container {
    background-color: #fff;
}

code {
    background-color: #fff;
    color: red;
    padding: 5px;
}

h2 {
    border-bottom: 1px solid rgb(110, 110, 110);
    text-align: center;
}

em {
    background-color: rgb(199, 243, 243);
}

 /* tous les p pair even pair /// odd impair*/
.exemples p:nth-child(even), td p:nth-child(even) {
    background-color: rgb(109, 198, 233);
}

.ma-classe{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
